{
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": [
        "eslint-plugin-hapi"
    ],
    "rules": {
        "consistent-return": 0,
        "vars-on-top": 0,
        "one-var": 0,
        "strict": 0,
        "new-cap": 0,
        "no-alert": 0,
        "no-console": 0,
        "no-constant-condition": 0,
        "no-empty": 0,
        "no-native-reassign": 0,
        "no-underscore-dangle": 0,
        "no-undef": 0,
        "no-process-exit": 0,
        "no-unused-vars": 0,
        "no-use-before-define": 0,
        "no-unused-expressions": 0,
        "no-regex-spaces": 0,
        "no-catch-shadow": 0,
        "global-strict": 0,
        "handle-callback-err": 0,
        "no-lonely-if": 0,
        "space-in-brackets": 0,
        "brace-style": 0,
        "no-shadow": 0,
        "hapi/no-shadow-relaxed": [1, { "ignore": ["err", "done"] }],
        "hapi/hapi-capitalize-modules": [1, "global-scope-only"],
        "hapi/hapi-scope-start": 1,
        "array-bracket-spacing": 1,
        "dot-notation": 1,
        "eol-last": 1,
        "camelcase": 1,
        "no-trailing-spaces": 1,
        "no-eq-null": 1,
        "no-extend-native": 1,
        "no-redeclare": 1,
        "no-loop-func": 1,
        "yoda": [1, "never"],
        "sort-vars": 1,
        "quotes": [2, "single"],
        "consistent-this": [2, "self"],
        "func-style": [2, "expression"],
        "new-parens": 2,
        "no-array-constructor": 2,
        "no-new-object": 2,
        "no-spaced-func": 2,
        "no-space-before-semi": 2,
        "no-mixed-spaces-and-tabs": 2,
        "space-after-keywords": 2,
        "semi": [2, "always"],
        "space-infix-ops": 2,
        "space-return-throw-case": 2,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "eqeqeq": 2,
        "curly": [2, "all"],
        "no-eval": 2,
        "no-else-return": 2,
        "no-return-assign": 2,
        "no-new-wrappers": 2,
        "no-comma-dangle": 2,
        "no-sparse-arrays": 2,
        "no-ex-assign": 2,
        "indent": [2, 4],
        "space-before-function-paren": 2,
        "func-style": [2, "expression"],
        "object-curly-spacing": [2, "always"],
        "spaced-comment": [2, "always",{"markers":[","]}]
    }
}