const Confidence = require('confidence');


const criteria = {
    env: process.env.NODE_ENV
};


const config = {
    $meta: 'This file configures the plot device.',
    projectName: '{{projectName}}',
    port: {
        web: {
            $filter: 'env',
            test: 9000,
            production: process.env.PORT,
            $default: 8000
        }
    },
    baseUrl: {
        $filter: 'env',
        $meta: 'values should not end in "/"',
        production: 'https://getaqua.herokuapp.com',
        $default: 'http://127.0.0.1:8000'
    },
    authAttempts: {
        forIp: 50,
        forIpAndUser: 7
    },
    cookieSecret: {
        $filter: 'env',
        production: process.env.COOKIE_SECRET,
        $default: '!k3yb04rdK4tz~4qu4~k3yb04rdd0gz!'
    },
    hapiMongoModels: {
        $filter: 'env',
        production: {
            mongodb: {
                url: process.env.MONGOLAB_URI
            },
            autoIndex: false
        },
        test: {
            mongodb: {
                url: '{{mongodbUrl}}-test'
            },
            autoIndex: true
        },
        $default: {
            mongodb: {
                url: '{{mongodbUrl}}'
            },
            autoIndex: true
        }
    },
    nodemailer: {
        host: '{{smtpHost}}',
        port: {{smtpPort}},
        secure: true,
        auth: {
            user: '{{smtpUsername}}',
            pass: '{{smtpPassword}}'
        }
    },
    system: {
        fromAddress: {
            name: '{{projectName}}',
            address: '{{systemEmail}}'
        },
        toAddress: {
            name: '{{projectName}}',
            address: '{{systemEmail}}'
        }
    }
};


const store = new Confidence.Store(config);


exports.get = function (key) {

    return store.get(key, criteria);
};


exports.meta = function (key) {

    return store.meta(key, criteria);
};
