doctype html
html(lang='en')
  head
    title Aqua - A website and user system starter
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='public/build.css')
  body
    div.jumbotron
      h1.text-center Aqua
      h2.text-center A website and user system starter
      p.text-center: a.btn.btn-primary.btn-lg(href='https://getaqua.herokuapp.com/')
        |Live Demo on Heroku
      ul.project-links
        li: a(href='https://github.com/jedireza/aqua/') <i class="fa fa-github"></i> View GitHub Project
        li (Version 7.x)
      div.gh-btns
        iframe(src='//ghbtns.com/github-btn.html?user=jedireza&repo=aqua&type=watch&count=true&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='150px', height='30px')
        iframe(src='//ghbtns.com/github-btn.html?user=jedireza&repo=aqua&type=fork&count=true&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='140px', height='30px')
        iframe(src='//ghbtns.com/github-btn.html?user=jedireza&repo=aqua&type=follow&count=false&size=large', allowtransparency='true', frameborder='0', scrolling='0', width='173px', height='30px')
    div.container.marketing
      h2.text-center Core features
      p.lead A restful json API, data models and a few helpful utilities
      div.row
        div.col-sm-4
          h3
            i.fa.fa-hand-o-right
            |  Signup
          p.
            The <code>/signup</code> endpoint makes sure the supplied username
            and email address are unique and creates new <code>User</code> and
            <code>Account</code> documents.
        div.col-sm-4
          h3
            i.fa.fa-sign-in
            |  Login
          p.
            When supplied valid credentials, the <code>/login</code> endpoint
            creates a new <code>Session</code>.  We've also included
            endpoints for resetting a forgotten password.
        div.col-sm-4
          h3
            i.fa.fa-paper-plane
            |  Email utility
          p.
            The <code>/contact</code> endpoint demonstrates the built-in email
            utility. By composing Handlebars and Markdown, personalized emails
            with HTML and text parts share one template.
      div.row
        div.col-sm-4
          h3
            i.fa.fa-user
            |  Users and roles
          p.
            <code>User</code> documents store login credentials and roles.
            Aqua ships with two roles; <code>Account</code> and
            <code>Admin</code>.
        div.col-sm-4
          h3
            i.fa.fa-users
            |  Admin groups
          p.
            Aqua also ships with an <code>Admin</code> grouping facility
            (<code>AdminGroup</code>). Think about these like departments;
            sales, support, manager, etc...
        div.col-sm-4
          h3
            i.fa.fa-key
            |  Permissions
          p.
            Permissions can be granted to an <code>AdminGroup</code> or
            individually for an <code>Admin</code>. <code>Admin</code>
            permissions will win over their group's permission.
      hr
      h2.text-center The front-end pages
      p.lead Home, about, sign-up and contact us
      div.row
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/01.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/03.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/04.png")
      hr
      h2.text-center Authentication screens
      p.lead Login, forgot password and reset password
      div.row
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/05.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/06.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/07.png")
      hr
      h2.text-center The account area
      p.lead Mock dashboard and account settings
      div.row
        div.col-md-6
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/19.png")
        div.col-md-6
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/20.png")
      hr
      h2.text-center The administration area
      p.lead Manage users, accounts, admins, admin groups, and statuses
      div.row
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/08.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/09.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/10.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/11.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/12.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/13.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/14.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/15.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/16.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/17.png")
        div.col-md-4
          a.thumbnail(href="#screenModal" data-toggle="modal")
            img.img-responsive(src="public/screenshots/18.png")
      hr
      h2.text-center Most importantly
      p.lead What you build with Aqua is more important than Aqua
    footer
      div.container
        p.
          Made using a <i class="fa fa-keyboard-o"></i> and <i class="fa fa-mouse-pointer"></i> by <a href='http://twitter.com/jedireza', target='_blank'>@jedireza</a> and <a href="https://github.com/jedireza/aqua/graphs/contributors">contributors</a>.
          Code licensed MIT.
        p.
          Special thanks to all creators and maintainers of open source sofware. Aqua wouldn't be here without you.
        ul.footer-links
          li: a(href='https://github.com/jedireza/aqua/issues?state=open') Submit issues
          li.muted ·
          li: a(href='#') Back to top
    div.modal.fade#screenModal(tabindex="-1" role="dialog" aria-labelledby="screenModalLabel" aria-hidden="true")
      div.modal-dialog
        div.modal-content
          img.img-responsive(src="#" data-dismiss="modal")
    script(src='public/build.js')
